<footer class="footer">
    <div class="container-fluid mt-6 mb-3" style="background-color:yellow">
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>          
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div> 
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div> 
        </div> <!--First row-->
        {% comment %} <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div> 
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div> 
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div> 
        </div><!--Second row-->
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div> 
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div> 
            <div class="col">
                {% if user.is_authenticated %}
                    <center><a class="nav-item nav-link" style="font-size:40px" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div> 
        </div><!--Third row-->    {% endcomment %}
    </div><!--Container-->
</footer>
