{% load static %}

{% comment %} <nav class="navbar navbar-dark navbar-fixed-top navbar-expand-md bg-dark justify-content-center"> {% endcomment %}
    {% comment %} <a href="/" class="navbar-brand mr-0">cLu's Pizza Tech</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "product_list" %}">Menu </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "product_list" %}">Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "product_list" %}">Contact </a>
            </li>
        </ul>
        <div style="float:right">
            <div class="shopingicons mr-auto">           
            <a href="{% url "cart:cart_detail" %}" class="icons-btn d-inline-block bag">
            <i class="fa fa-shopping-cart"></i>
    
            <span class="number"> {{ cart|length }} Items {{ cart.get_total_price }} RON</span>
             </a> 
        </div>
    </div>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <p>Welcome back, {{ user.get_username }}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div> {% endcomment %}
    <input type="checkbox" id="myInput">
        <label for="myInput">
        <span class="bar top"></span>
        <span class="bar middle"></span>
        <span class="bar bottom"></span>
        </label>
    <aside>
        <div class="aside-section aside-left">
        <div class="aside-content">
            <p> Pizza Leaderboard </p>
            <button class="button"> CTA </button>
        </div>
        </div>
        <div class="aside-section aside-right">
        <ul class="aside-list">
            <li><a href="{% url "product_list" %}" class="aside-anchor">All</a></li>
            {% for c in categories %}
                {% if category.slug == c.slug %} {% endif %}>
                <li><a href="{{ c.get_absolute_url }}" class="aside-anchor">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </aside>
{% comment %} </nav> {% endcomment %}