{% extends "layout.html" %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }} {% else %} Pizza Game {% endif %}
{% endblock %}

{% block content %}

<div id="categoriesBar">
    <div class="row">
        <ul class="categoriesList">
            <li class="categoriesList" {% if not category %} class="active" {% endif %}>
                <a class="categoriesList" href="{% url "product_list" %}">All</a>
            </li>
            {% for c in categories %}
                <li class="categoriesList" {% if category.slug == c.slug %} class="active" {% endif %}>
                    <a class="categoriesList" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>


        <div class="container">
            <div class="row" style="margin-bottom: 6%">
                <div class="col-sm-12 blog-main">
                    <div class="blog-post">
                        <div class="row" >

                            {% for p in products %}

                                <div class="col-md-4" style="margin-bottom: 20px; margin-top: -200px">
                                    
                                    {% comment %} <div class="img-thumbnail" style ="border-radius: 50%">
                                        <a href="{{ p.get_absolute_url }}">
                                            <img src="{% if p.image %} {{ p.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                                                alt="..." style="height: 130px; width: auto; border-radius: 50%; ">
                                        </a>
                                        </div>
                                        <div class="caption">
                                            <h3 class="text-center">
                                                <a href="{{ p.get_absolute_url }}"> {{ p.name }}</a>
                                            </h3>
                                            <p class="text-center">
                                                $ {{ p.price }}
                                            </p>
                                            <p class="text-center">
                                                {{ p.pizzereum }} PZM
                                            </p>
                                        </div>
                                    </div> {% endcomment %}

                                    <!-- New Card Style -->
                                    <a href="{{ p.get_absolute_url }}">
                                    <div class="card" style="width: 360px;height:480px;">
                                        <div class="img-thumbnail" style="display:flex; justify-content:center;margin-bottom: 40px">
                                                <img src="{% if p.image %} {{ p.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                                                    alt="..." style="height: 180px; width: auto;">
                                        </div>
                                        <div class="card-contents">        
                                            
                                                <h1>
                                                {{ p.name }}
                                                </h1>
                                            <h1>
                                                $ {{ p.price }}
                                            </h1>
                                            <h1>
                                                {{ p.pizzereum }} PZM
                                            </h1>
                                            </div>
                                        </div> <!--  Card contents-->
                                    </a>
                                </div>
                            
                            {% endfor %}

                        </div>

                    </div> <!-- post -->

                </div> <!-- main -->

            </div> <!-- row -->
        </div> <!--container-->
    </div> <!--Categories ROW-->    
</div> <!--CategoriesBar div -->

{% endblock %}