{% extends "layout.html" %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }} {% else %} Pizza Game {% endif %}
{% endblock %}

{% block content %}
    
    <div class="row" style="margin-bottom: 6%">
    
      
    
   
  

        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <div class="row" >

                    {% for p in products %}

                        <div class="col-md-2" style="margin-bottom: 20px;">
                            
                            <div class="img-thumbnail" style ="border-radius: 50%">
                                <a href="{{ p.get_absolute_url }}">
                                    <img src="{% if p.image %} {{ p.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                                         alt="..." style="height: 130px; width: auto; border-radius: 50%;">
                                </a>
                            
                                <div class="caption">
                                    <h3 class="text-center">
                                   
                                        <a href="{{ p.get_absolute_url }}"> {{ p.name }}</a>
                                    </h3>
                                    <p class="text-center">
                                        $ {{ p.price }}
                                    </p>

                                
                                </div>
                            </div>
                        </div>
                    
                    {% endfor %}

                </div>

            </div> <!-- post -->

        </div> <!-- main -->

    </div> <!-- container -->

{% endblock %}